extends template

block title
  title GroundworkCSS &hearts; Font Awesome Icons
  style(type="text/css").
    .the-icons {
      font-size: 1.1em;
      line-height: 1.5;
    }
    .the-icons i {
      font-size: 1.5em;
      margin-right: 0.25em;
    }

block content
  .container
    .padded
      .row
        .three.fifths.bounceInRight.animated
          h1.zero.museo-slab Font Awesome Icons
          p.quicksand
            a(href='http://fontawesome.io/', target='_blank') Font Awesome
            |  is a beautiful collection of vector icons created & maintained by 
            a(href='http://twitter.com/davegandy', target='_blank') Dave Gandy
        .two.fifths.align-right-ipad.align-right-desktop.flipInX.animated
          p.quicksand Component Usage Example 11 of 14
          p
            a.blue.button(href='forms.html', rel='prev')
              | Back
            | 
            a.green.button(href='responsive-text.html', rel='next')
              | Next: Responsive Text
    hr
    .row
      .one.whole.padded
        h4 Example Usage
        .row
          .one.half
            .row
              .one.third.small-tablet.pad-left.pad-right.align-center
                i.icon-twitter.icon-4x
              .two.thirds.small-tablet.padded
                pre(data-lang='html')
                  | <i class="icon-twitter icon-4x"></i>
          .one.half
            .row
              .one.third.small-tablet.pad-left.pad-right.align-center
                i.icon-spinner.icon-spin.icon-4x
              .two.thirds.small-tablet.padded
                pre(data-lang='html')
                  | <i class="icon-spinner icon-spin icon-4x"></i>
        hr
        br
        section#new.bounceInLeft.animated
          h4 New Icons in 3.2
          .row.the-icons
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-compass
                |  icon-compass
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-collapse
                |  icon-collapse
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-collapse-top
                |  icon-collapse-top
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-expand
                |  icon-expand
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-eur
                |  icon-eur
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-euro
                |  icon-euro
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-gbp
                |  icon-gbp
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-usd
                |  icon-usd
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-dollar
                |  icon-dollar
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-inr
                |  icon-inr
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-rupee
                |  icon-rupee
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-jpy
                |  icon-jpy
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-yen
                |  icon-yen
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-cny
                |  icon-cny
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-renminbi
                |  icon-renminbi
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-krw
                |  icon-krw
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-won
                |  icon-won
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-btc
                |  icon-btc
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bitcoin
                |  icon-bitcoin
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-file
                |  icon-file
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-file-text
                |  icon-file-text
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-by-alphabet
                |  icon-sort-by-alphabet
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-by-alphabet-alt
                |  icon-sort-by-alphabet-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-by-attributes
                |  icon-sort-by-attributes
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-by-attributes-alt
                |  icon-sort-by-attributes-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-by-order
                |  icon-sort-by-order
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-by-order-alt
                |  icon-sort-by-order-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-thumbs-up
                |  icon-thumbs-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-thumbs-down
                |  icon-thumbs-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-youtube-sign
                |  icon-youtube-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-youtube
                |  icon-youtube
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-xing
                |  icon-xing
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-xing-sign
                |  icon-xing-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-youtube-play
                |  icon-youtube-play
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-dropbox
                |  icon-dropbox
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-stackexchange
                |  icon-stackexchange
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-instagram
                |  icon-instagram
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-flickr
                |  icon-flickr
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-adn
                |  icon-adn
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bitbucket
                |  icon-bitbucket
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bitbucket-sign
                |  icon-bitbucket-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-tumblr
                |  icon-tumblr
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-tumblr-sign
                |  icon-tumblr-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-long-arrow-down
                |  icon-long-arrow-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-long-arrow-up
                |  icon-long-arrow-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-long-arrow-left
                |  icon-long-arrow-left
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-long-arrow-right
                |  icon-long-arrow-right
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-apple
                |  icon-apple
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-windows
                |  icon-windows
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-android
                |  icon-android
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-linux
                |  icon-linux
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-dribbble
                |  icon-dribbble
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-skype
                |  icon-skype
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-foursquare
                |  icon-foursquare
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-trello
                |  icon-trello
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-female
                |  icon-female
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-male
                |  icon-male
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-gittip
                |  icon-gittip
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sun
                |  icon-sun
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-moon
                |  icon-moon
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-archive
                |  icon-archive
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bug
                |  icon-bug
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-vk
                |  icon-vk
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-weibo
                |  icon-weibo
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-renren
                |  icon-renren
        hr
        br
        section#web-application.bounceInRight.animated
          h4 Web Application Icons
          .row.the-icons
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-adjust
                |  icon-adjust
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-anchor
                |  icon-anchor
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-archive
                |  icon-archive
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-asterisk
                |  icon-asterisk
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-ban-circle
                |  icon-ban-circle
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bar-chart
                |  icon-bar-chart
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-barcode
                |  icon-barcode
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-beaker
                |  icon-beaker
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-beer
                |  icon-beer
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bell
                |  icon-bell
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bell-alt
                |  icon-bell-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bolt
                |  icon-bolt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-book
                |  icon-book
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bookmark
                |  icon-bookmark
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bookmark-empty
                |  icon-bookmark-empty
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-briefcase
                |  icon-briefcase
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bug
                |  icon-bug
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-building
                |  icon-building
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bullhorn
                |  icon-bullhorn
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bullseye
                |  icon-bullseye
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-calendar
                |  icon-calendar
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-calendar-empty
                |  icon-calendar-empty
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-camera
                |  icon-camera
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-camera-retro
                |  icon-camera-retro
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-certificate
                |  icon-certificate
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-check
                |  icon-check
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-check-empty
                |  icon-check-empty
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-check-minus
                |  icon-check-minus
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-check-sign
                |  icon-check-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-circle
                |  icon-circle
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-circle-blank
                |  icon-circle-blank
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-cloud
                |  icon-cloud
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-cloud-download
                |  icon-cloud-download
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-cloud-upload
                |  icon-cloud-upload
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-code
                |  icon-code
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-code-fork
                |  icon-code-fork
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-coffee
                |  icon-coffee
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-cog
                |  icon-cog
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-cogs
                |  icon-cogs
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-collapse
                |  icon-collapse
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-collapse-alt
                |  icon-collapse-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-collapse-top
                |  icon-collapse-top
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-comment
                |  icon-comment
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-comment-alt
                |  icon-comment-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-comments
                |  icon-comments
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-comments-alt
                |  icon-comments-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-compass
                |  icon-compass
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-credit-card
                |  icon-credit-card
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-crop
                |  icon-crop
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-dashboard
                |  icon-dashboard
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-desktop
                |  icon-desktop
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-download
                |  icon-download
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-download-alt
                |  icon-download-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-edit
                |  icon-edit
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-edit-sign
                |  icon-edit-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-ellipsis-horizontal
                |  icon-ellipsis-horizontal
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-ellipsis-vertical
                |  icon-ellipsis-vertical
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-envelope
                |  icon-envelope
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-envelope-alt
                |  icon-envelope-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-eraser
                |  icon-eraser
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-exchange
                |  icon-exchange
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-exclamation
                |  icon-exclamation
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-exclamation-sign
                |  icon-exclamation-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-expand
                |  icon-expand
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-expand-alt
                |  icon-expand-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-external-link
                |  icon-external-link
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-external-link-sign
                |  icon-external-link-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-eye-close
                |  icon-eye-close
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-eye-open
                |  icon-eye-open
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-facetime-video
                |  icon-facetime-video
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-female
                |  icon-female
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-fighter-jet
                |  icon-fighter-jet
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-film
                |  icon-film
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-filter
                |  icon-filter
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-fire
                |  icon-fire
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-fire-extinguisher
                |  icon-fire-extinguisher
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-flag
                |  icon-flag
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-flag-alt
                |  icon-flag-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-flag-checkered
                |  icon-flag-checkered
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-folder-close
                |  icon-folder-close
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-folder-close-alt
                |  icon-folder-close-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-folder-open
                |  icon-folder-open
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-folder-open-alt
                |  icon-folder-open-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-food
                |  icon-food
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-frown
                |  icon-frown
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-gamepad
                |  icon-gamepad
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-gear
                |  icon-gear
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-gears
                |  icon-gears
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-gift
                |  icon-gift
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-glass
                |  icon-glass
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-globe
                |  icon-globe
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-group
                |  icon-group
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-hdd
                |  icon-hdd
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-headphones
                |  icon-headphones
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-heart
                |  icon-heart
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-heart-empty
                |  icon-heart-empty
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-home
                |  icon-home
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-inbox
                |  icon-inbox
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-info
                |  icon-info
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-info-sign
                |  icon-info-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-key
                |  icon-key
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-keyboard
                |  icon-keyboard
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-laptop
                |  icon-laptop
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-leaf
                |  icon-leaf
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-legal
                |  icon-legal
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-lemon
                |  icon-lemon
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-level-down
                |  icon-level-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-level-up
                |  icon-level-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-lightbulb
                |  icon-lightbulb
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-location-arrow
                |  icon-location-arrow
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-lock
                |  icon-lock
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-magic
                |  icon-magic
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-magnet
                |  icon-magnet
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-mail-forward
                |  icon-mail-forward
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-mail-reply
                |  icon-mail-reply
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-mail-reply-all
                |  icon-mail-reply-all
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-male
                |  icon-male
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-map-marker
                |  icon-map-marker
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-meh
                |  icon-meh
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-microphone
                |  icon-microphone
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-microphone-off
                |  icon-microphone-off
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-minus
                |  icon-minus
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-minus-sign
                |  icon-minus-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-minus-sign-alt
                |  icon-minus-sign-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-mobile-phone
                |  icon-mobile-phone
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-money
                |  icon-money
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-moon
                |  icon-moon
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-move
                |  icon-move
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-music
                |  icon-music
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-off
                |  icon-off
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-ok
                |  icon-ok
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-ok-circle
                |  icon-ok-circle
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-ok-sign
                |  icon-ok-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-pencil
                |  icon-pencil
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-phone
                |  icon-phone
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-phone-sign
                |  icon-phone-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-picture
                |  icon-picture
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-plane
                |  icon-plane
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-plus
                |  icon-plus
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-plus-sign
                |  icon-plus-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-plus-sign-alt
                |  icon-plus-sign-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-power-off
                |  icon-power-off
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-print
                |  icon-print
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-pushpin
                |  icon-pushpin
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-puzzle-piece
                |  icon-puzzle-piece
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-qrcode
                |  icon-qrcode
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-question
                |  icon-question
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-question-sign
                |  icon-question-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-quote-left
                |  icon-quote-left
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-quote-right
                |  icon-quote-right
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-random
                |  icon-random
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-refresh
                |  icon-refresh
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-remove
                |  icon-remove
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-remove-circle
                |  icon-remove-circle
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-remove-sign
                |  icon-remove-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-reorder
                |  icon-reorder
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-reply
                |  icon-reply
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-reply-all
                |  icon-reply-all
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-resize-horizontal
                |  icon-resize-horizontal
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-resize-vertical
                |  icon-resize-vertical
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-retweet
                |  icon-retweet
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-road
                |  icon-road
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-rocket
                |  icon-rocket
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-rss
                |  icon-rss
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-rss-sign
                |  icon-rss-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-screenshot
                |  icon-screenshot
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-search
                |  icon-search
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-share
                |  icon-share
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-share-alt
                |  icon-share-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-share-sign
                |  icon-share-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-shield
                |  icon-shield
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-shopping-cart
                |  icon-shopping-cart
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sign-blank
                |  icon-sign-blank
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-signal
                |  icon-signal
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-signin
                |  icon-signin
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-signout
                |  icon-signout
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sitemap
                |  icon-sitemap
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-smile
                |  icon-smile
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort
                |  icon-sort
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-by-alphabet
                |  icon-sort-by-alphabet
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-by-alphabet-alt
                |  icon-sort-by-alphabet-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-by-attributes
                |  icon-sort-by-attributes
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-by-attributes-alt
                |  icon-sort-by-attributes-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-by-order
                |  icon-sort-by-order
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-by-order-alt
                |  icon-sort-by-order-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-down
                |  icon-sort-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sort-up
                |  icon-sort-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-spinner
                |  icon-spinner
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-star
                |  icon-star
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-star-empty
                |  icon-star-empty
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-star-half
                |  icon-star-half
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-star-half-empty
                |  icon-star-half-empty
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-star-half-full
                |  icon-star-half-full
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-subscript
                |  icon-subscript
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-suitcase
                |  icon-suitcase
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-sun
                |  icon-sun
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-superscript
                |  icon-superscript
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-tablet
                |  icon-tablet
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-tag
                |  icon-tag
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-tags
                |  icon-tags
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-tasks
                |  icon-tasks
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-terminal
                |  icon-terminal
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-thumbs-down
                |  icon-thumbs-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-thumbs-down-alt
                |  icon-thumbs-down-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-thumbs-up
                |  icon-thumbs-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-thumbs-up-alt
                |  icon-thumbs-up-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-ticket
                |  icon-ticket
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-time
                |  icon-time
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-tint
                |  icon-tint
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-trash
                |  icon-trash
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-trophy
                |  icon-trophy
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-truck
                |  icon-truck
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-umbrella
                |  icon-umbrella
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-unchecked
                |  icon-unchecked
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-unlock
                |  icon-unlock
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-unlock-alt
                |  icon-unlock-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-upload
                |  icon-upload
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-upload-alt
                |  icon-upload-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-user
                |  icon-user
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-volume-down
                |  icon-volume-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-volume-off
                |  icon-volume-off
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-volume-up
                |  icon-volume-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-warning-sign
                |  icon-warning-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-wrench
                |  icon-wrench
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-zoom-in
                |  icon-zoom-in
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-zoom-out
                |  icon-zoom-out
        hr
        br
        section#currency.bounceInLeft.animated
          h4 Currency Icons
          .row.the-icons
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bitcoin
                |  icon-bitcoin
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-btc
                |  icon-btc
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-cny
                |  icon-cny
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-dollar
                |  icon-dollar
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-eur
                |  icon-eur
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-euro
                |  icon-euro
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-gbp
                |  icon-gbp
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-inr
                |  icon-inr
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-jpy
                |  icon-jpy
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-krw
                |  icon-krw
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-renminbi
                |  icon-renminbi
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-rupee
                |  icon-rupee
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-usd
                |  icon-usd
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-won
                |  icon-won
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-yen
                |  icon-yen
                span.muted (alias)
        hr
        br
        section#text-editor.bounceInRight.animated
          h4 Text Editor Icons
          .row.the-icons
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-align-center
                |  icon-align-center
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-align-justify
                |  icon-align-justify
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-align-left
                |  icon-align-left
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-align-right
                |  icon-align-right
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bold
                |  icon-bold
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-columns
                |  icon-columns
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-copy
                |  icon-copy
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-cut
                |  icon-cut
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-eraser
                |  icon-eraser
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-file
                |  icon-file
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-file-alt
                |  icon-file-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-file-text
                |  icon-file-text
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-file-text-alt
                |  icon-file-text-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-font
                |  icon-font
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-indent-left
                |  icon-indent-left
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-indent-right
                |  icon-indent-right
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-italic
                |  icon-italic
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-link
                |  icon-link
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-list
                |  icon-list
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-list-alt
                |  icon-list-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-list-ol
                |  icon-list-ol
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-list-ul
                |  icon-list-ul
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-paper-clip
                |  icon-paper-clip
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-paperclip
                |  icon-paperclip
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-paste
                |  icon-paste
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-repeat
                |  icon-repeat
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-rotate-left
                |  icon-rotate-left
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-rotate-right
                |  icon-rotate-right
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-save
                |  icon-save
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-strikethrough
                |  icon-strikethrough
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-table
                |  icon-table
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-text-height
                |  icon-text-height
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-text-width
                |  icon-text-width
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-th
                |  icon-th
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-th-large
                |  icon-th-large
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-th-list
                |  icon-th-list
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-underline
                |  icon-underline
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-undo
                |  icon-undo
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-unlink
                |  icon-unlink
        hr
        br
        section#directional.bounceInLeft.animated
          h4 Directional Icons
          .row.the-icons
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-angle-down
                |  icon-angle-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-angle-left
                |  icon-angle-left
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-angle-right
                |  icon-angle-right
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-angle-up
                |  icon-angle-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-arrow-down
                |  icon-arrow-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-arrow-left
                |  icon-arrow-left
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-arrow-right
                |  icon-arrow-right
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-arrow-up
                |  icon-arrow-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-caret-down
                |  icon-caret-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-caret-left
                |  icon-caret-left
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-caret-right
                |  icon-caret-right
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-caret-up
                |  icon-caret-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-chevron-down
                |  icon-chevron-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-chevron-left
                |  icon-chevron-left
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-chevron-right
                |  icon-chevron-right
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-chevron-up
                |  icon-chevron-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-chevron-sign-down
                |  icon-chevron-sign-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-chevron-sign-left
                |  icon-chevron-sign-left
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-chevron-sign-right
                |  icon-chevron-sign-right
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-chevron-sign-up
                |  icon-chevron-sign-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-circle-arrow-down
                |  icon-circle-arrow-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-circle-arrow-left
                |  icon-circle-arrow-left
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-circle-arrow-right
                |  icon-circle-arrow-right
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-circle-arrow-up
                |  icon-circle-arrow-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-double-angle-down
                |  icon-double-angle-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-double-angle-left
                |  icon-double-angle-left
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-double-angle-right
                |  icon-double-angle-right
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-double-angle-up
                |  icon-double-angle-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-hand-down
                |  icon-hand-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-hand-left
                |  icon-hand-left
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-hand-right
                |  icon-hand-right
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-hand-up
                |  icon-hand-up
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-long-arrow-down
                |  icon-long-arrow-down
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-long-arrow-left
                |  icon-long-arrow-left
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-long-arrow-right
                |  icon-long-arrow-right
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-long-arrow-up
                |  icon-long-arrow-up
        hr
        br
        section#video-player.bounceInRight.animated
          h4 Video Player Icons
          .row.the-icons
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-backward
                |  icon-backward
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-eject
                |  icon-eject
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-fast-backward
                |  icon-fast-backward
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-fast-forward
                |  icon-fast-forward
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-forward
                |  icon-forward
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-fullscreen
                |  icon-fullscreen
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-pause
                |  icon-pause
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-play
                |  icon-play
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-play-circle
                |  icon-play-circle
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-play-sign
                |  icon-play-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-resize-full
                |  icon-resize-full
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-resize-small
                |  icon-resize-small
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-step-backward
                |  icon-step-backward
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-step-forward
                |  icon-step-forward
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-stop
                |  icon-stop
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-youtube-play
                |  icon-youtube-play
        hr
        br
        section#brand.bounceInLeft.animated
          h4 Brand Icons
          .row.the-icons
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-adn
                |  icon-adn
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-android
                |  icon-android
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-apple
                |  icon-apple
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bitbucket
                |  icon-bitbucket
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bitbucket-sign
                |  icon-bitbucket-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-bitcoin
                |  icon-bitcoin
                span.muted (alias)
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-btc
                |  icon-btc
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-css3
                |  icon-css3
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-dribbble
                |  icon-dribbble
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-dropbox
                |  icon-dropbox
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-facebook
                |  icon-facebook
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-facebook-sign
                |  icon-facebook-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-flickr
                |  icon-flickr
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-foursquare
                |  icon-foursquare
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-github
                |  icon-github
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-github-alt
                |  icon-github-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-github-sign
                |  icon-github-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-gittip
                |  icon-gittip
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-google-plus
                |  icon-google-plus
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-google-plus-sign
                |  icon-google-plus-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-html5
                |  icon-html5
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-instagram
                |  icon-instagram
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-linkedin
                |  icon-linkedin
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-linkedin-sign
                |  icon-linkedin-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-linux
                |  icon-linux
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-maxcdn
                |  icon-maxcdn
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-pinterest
                |  icon-pinterest
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-pinterest-sign
                |  icon-pinterest-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-renren
                |  icon-renren
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-skype
                |  icon-skype
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-stackexchange
                |  icon-stackexchange
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-trello
                |  icon-trello
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-tumblr
                |  icon-tumblr
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-tumblr-sign
                |  icon-tumblr-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-twitter
                |  icon-twitter
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-twitter-sign
                |  icon-twitter-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-vk
                |  icon-vk
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-weibo
                |  icon-weibo
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-windows
                |  icon-windows
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-xing
                |  icon-xing
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-xing-sign
                |  icon-xing-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-youtube
                |  icon-youtube
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-youtube-play
                |  icon-youtube-play
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-youtube-sign
                |  icon-youtube-sign
        hr
        br
        section#medical.bounceInUp.animated
          h4 Medical Icons
          .row.the-icons
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-ambulance
                |  icon-ambulance
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-h-sign
                |  icon-h-sign
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-hospital
                |  icon-hospital
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-medkit
                |  icon-medkit
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-plus-sign-alt
                |  icon-plus-sign-alt
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-stethoscope
                |  icon-stethoscope
            .one.fourth.two-up-small-tablet.two-up-mobile
              p
                i.icon-user-md
                |  icon-user-md
