extends template

block title
  title GroundworkCSS &hearts; Tables

block content
  .container
    .padded
      .row
        .three.fifths.bounceInRight.animated
          h1.zero.museo-slab Tables
          p.quicksand Clean and easy to customize styling for tabular data.
        .two.fifths.align-right-ipad.align-right-desktop.flipInX.animated
          p.quicksand Component Usage Example 8 of 14
          p
            a.blue.button(href='messages.html', rel='prev')
              |  Back
            | 
            a.green.button(href='tabs.html', rel='next')
              | Next: Tabs
    hr
    .row
      .one.whole.padded
        .bounceInLeft.animated
          h4 Responsive Data Table
          .row
            .one.whole.padded
              table.responsive(data-max='15')
                thead
                  tr
                    th Table Heading
                    th Table Heading
                    th Table Heading
                    th Table Heading
                tbody
                  tr
                    td Table cell
                    td Table cell
                    td Table cell
                    td Table cell
                  tr
                    td Table cell
                    td Table cell
                    td Table cell
                    td Table cell
                  tr
                    td Table cell
                    td Table cell
                    td Table cell
                    td Table cell
                  tr
                    td Table cell
                    td Table cell
                    td Table cell
                    td Table cell
                tfoot
                  tr
                    td Footer cell
                    td Footer cell
                    td Footer cell
                    td Footer cell
          //- hr
          //- br
          //- h4 States
          //- .row
          //-   .one.whole.padded
          //-     table.responsive(data-max='15')
          //-       thead
          //-         tr
          //-           th(data-width='40%') Table Heading
          //-           th(data-width='20%') Table Heading
          //-           th(data-width='20%') Table Heading
          //-           th(data-width='20%') Table Heading
          //-       tbody
          //-         tr
          //-           td(data-width='40%') Table cell
          //-           td(data-width='20%') Table cell
          //-           td(data-width='20%') Table cell
          //-           td(data-width='20%') Table cell
          //-         tr
          //-           td(data-width='40%') Table cell
          //-           td(data-width='20%') Table cell
          //-           td(data-width='20%') Table cell
          //-           td(data-width='20%') Table cell
          //-         tr
          //-           td(data-width='40%') Table cell
          //-           td(data-width='20%') Table cell
          //-           td(data-width='20%') Table cell
          //-           td(data-width='20%') Table cell
          //-         tr
          //-           td(data-width='40%') Table cell
          //-           td(data-width='20%') Table cell
          //-           td(data-width='20%') Table cell
          //-           td(data-width='20%') Table cell
          //-       tfoot
          //-         tr
          //-           td(data-width='40%') Table cell
          //-           td(data-width='20%') Table cell
          //-           td(data-width='20%') Table cell
          //-           td(data-width='20%') Table cell
          .row
            .one.whole.pad-left.pad-right
              pre(data-lang='html')
                | <table class="responsive" data-max="15">
                |   <thead>
                |     <tr>
                |       <th>Table Heading</th>
                |       <th>Table Heading</th>
                |       <th>Table Heading</th>
                |       <th>Table Heading</th>
                |     </tr>
                |   </thead>
                |   <tbody>
                |     <tr>
                |       <td>Table cell</td>
                |       <td>Table cell</td>
                |       <td>Table cell</td>
                |       <td>Table cell</td>
                |     </tr>
                |     <tr>
                |       <td>Table cell</td>
                |       <td>Table cell</td>
                |       <td>Table cell</td>
                |       <td>Table cell</td>
                |     </tr>
                |     <tr>
                |       <td>Table cell</td>
                |       <td>Table cell</td>
                |       <td>Table cell</td>
                |       <td>Table cell</td>
                |     </tr>
                |     <tr>
                |       <td>Table cell</td>
                |       <td>Table cell</td>
                |       <td>Table cell</td>
                |       <td>Table cell</td>
                |     </tr>
                |   </tbody>
                |   <tfoot>
                |     <tr>
                |       <td>Footer cell</td>
                |       <td>Footer cell</td>
                |       <td>Footer cell</td>
                |       <td>Footer cell</td>
                |     </tr>
                |   </tfoot>
                | </table>
        hr
        br
        .bounceInRight.animated
          h4 States
          .row
            .one.third.padded
              table.responsive.info(data-max='15')
                thead
                  tr
                    th Info Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.success(data-max='15')
                thead
                  tr
                    th Success Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.alert(data-max='15')
                thead
                  tr
                    th Alert Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
          .row
            .one.third.padded
              table.responsive.question(data-max='15')
                thead
                  tr
                    th Question Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.warning(data-max='15')
                thead
                  tr
                    th Warning Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.error(data-max='15')
                thead
                  tr
                    th Error Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
        hr
        br
        .bounceInUp.animated
          h4 Colors
          .row
            .one.third.padded
              table.responsive.yellow(data-max='15')
                thead
                  tr
                    th Yellow Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.orange(data-max='15')
                thead
                  tr
                    th Orange Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.red(data-max='15')
                thead
                  tr
                    th Red Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
          .row
            .one.third.padded
              table.responsive.pink(data-max='15')
                thead
                  tr
                    th Pink Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.purple(data-max='15')
                thead
                  tr
                    th Purple Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.asphalt(data-max='15')
                thead
                  tr
                    th Asphalt Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
          .row
            .one.third.padded
              table.responsive.blue(data-max='15')
                thead
                  tr
                    th Blue Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.turquoise(data-max='15')
                thead
                  tr
                    th Turquoise Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.green(data-max='15')
                thead
                  tr
                    th Green Table
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
